body{
	padding:2em;
	box-sizing:border-box;
	font-family:Helvetica;
}
.content{
	max-width:960px;
	margin:0 auto;
	overflow:hidden;
	position:relative;
}
.img-wrapper{
	width:90%;
	overflow:hidden;
	margin:10px auto;
	border:thin black solid;
}
img{
	width:100%;
	height:100%;
	object-fit:contain;
}